article header.article-meta{
    background-color: #A5A69D;
    background-image: url(../../media/spotlight/making-history/title.jpg);
    background-size: cover;
    background-position: 30% 0;
    height: 100%;
    background-repeat: no-repeat;
    color: white;
    text-shadow: 0 0 10px black;
    padding-top: 650px;
}


div.horizontal-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

@media screen and (max-width: 800px){
    div.horizontal-container {
        flex-wrap: wrap;
    }
}

#sidebar {
	width: 50%;
	margin-right: -200px;
}

div.contain {
	margin: 50px;
}