article header.article-meta{
    background-color: #E7DAD4;
    color: white;
    text-shadow: 0 0 10px black;
    padding-top: 0;
    padding-bottom: 0;
}

video {
  height: auto;
  vertical-align: middle;
  width: 100%;
  filter: blur(0px);
}
.overlay-desc {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 40; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}


@media screen and (max-width: 500px) {
  article header.article-meta{
    background-color: black;
    background-size: cover;
    background-position: 30% 0;
    height: 100%;
    min-height: 600px;
    color: white;
    text-shadow: 0 0 10px black;
  }
  video {
    position: relative;
    margin-top: 40px;
  }
}

.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}
